body {
    font-family: Arial, sans-serif;
    background-color: #6f9e6f;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgb(190, 182, 182);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #28a745;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

#recipeResults {
    margin-top: 20px;
}

.recipe {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.recipe img {
    max-width: 100px;
    border-radius: 5px;
}
